.Activities {
    display:flex;
    flex-wrap: wrap;    
    background-color: greenyellow;  
    gap: 10px;
    margin: 5px 5px;   
}

.Activity{
    width: 49%;
    border: 1px solid;
    align-items: center;
    
}

h2 {
    text-align: center;
}

.actList {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border: 1px solid;
    background-color: #F2F0F0;
}

.actInput{
    display: flex;
    justify-content: space-between;
}

.actButton{
    border: none;
}


progress{
    justify-content: right;
}