.Activities {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  gap: 15px;
  margin: 5px 5px;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 18px 0 10px 0;
}

.actList {
  padding: 10px;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5fc;
}

.actInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actButton {
  border: none;
}
.actButton :hover {
  color: red;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 28px;
  border-radius: none;
  padding: 0 10px;
  margin-bottom: 5px;
}

.label {
  width: 100%;
  font-size: 12px;
  text-align: right;
}

.scroll {
  overflow-y: scroll;
  width: 100%;
  height: 196px;
}

.actTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Activity {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5fc;
  border-radius: 15px;
}


/* 
This code defines a stylesheet for the Activities component. 

It specifies the styles for the Activities container, 
the h2 element that is used to display the category name, 
the actList class that is used for each list item, 
the actInput class that is used for the input form, 
the actButton class that is used for the "add" button, 
the progress class that is used to display the progress bar, 
the label class that is used to display the progress label, 
the scroll class that is used to enable scrolling on the lists, 
the actTop class that is used to align the elements in the container, and 
the Activity class that is used for each activity item.

In order to use this stylesheet, you would need to import it into your project and apply the relevant classes to the elements in the Activities component. 
This would allow you to apply the specified styles to the elements and customize the appearance of the Activities component.
*/