.Activities {
    display:flex;
    flex-wrap: wrap;    
    background-color: greenyellow;    
}

.Activity{
    width: 50%;
}

h2 {
    text-align: center;
}

li {
    display: flex;
    flex-direction: column;
}