.GratitudeParent {
    /* display:flex;
    justify-content: center; */  
}

h3 {
    text-align: center;
}

.inputBox {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(117,159,125);
    border-radius: 15px;

}