:root {
  --main-bg-color: #2e4057;
}

body {
  background-color: var(--main-bg-color);
}

.app {
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
}

.layoutContainer {
  display: flex;
  height: 95vh;
}

.left {
  margin: 0 20px;
  max-width: 70vw;
  height: 100%;
}
