:root {
  --main-bg-color: #2e4057;
}

body{
    background-color: var(--main-bg-color);
}

.app{
    max-width: 1000px;
    margin: 0 auto;
    

}

.layoutContainer {
  display: flex;
}

.left {
  margin: 0 20px;
}
