.GratitudeInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gratInputField {
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  height: 22px;
  padding: 8px;
  font-size: 18px;
}

.addButton {
  border-radius: 25px;
  width: 75px;
  background-color: rgb(117, 159, 125);
  color: rgb(255, 255, 255);
  align-self: center;
  border: none;
  padding: 6px;
}
